<div class="signCard">
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <div class="card card-sign my-5">
                <div class="closeDiv">
                    <button type="button" class="close closeForm" (click)="closeSignForm()">&times;</button>
                </div>
                <div class="card-body">
                    <app-sign-in [@moveToLeft]="loginState"></app-sign-in>
                    <app-sign-up [@moveToRight]="registeredState"></app-sign-up>
                    <div class="d-flex justify-content-between mt-3">
                        <button class="btn btn-outline-success borders" (click)="moveToLogIn()"
                            [disabled]="moveToLogInBtn">Move to Log In</button>
                        <button class="btn btn-outline-success borders" (click)="moveToRegistered()"
                            [disabled]="moveToRegBtn">Move to Registered</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>