.not-found{
    min-height: 500px;
    background: url('https://firebasestorage.googleapis.com/v0/b/experience-shop.appspot.com/o/404.gif?alt=media&token=570857dd-2441-41e6-ad5c-b9d079079b6a');
    background-position: center;
    background-repeat: no-repeat;
}