.card-form{
    position: fixed;
    overflow: scroll;
    z-index: 10;
}
  
.adImage{
    width: 18rem;
    margin: 1rem;
}

.close{
  margin: 5%;
}

.closeDiv{
  height: 5%;
}

.title{
  margin: 10%;
  font-weight: 500;
}