.footerContainer{
    position: absolute;
    width: 100%;
}

footer {
    color: #fff;
    background-color:#222;
}

footer a {
    color: #ccc;				
}

.social-pet li {
    display: inline-block;
    margin-right: 2%;
}
.social-pet li a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 50px;
    color: #fff;
}

.social-pet li:nth-child(1) a {
    background-color: #3a5a95;
}

.social-pet li:nth-child(2) a {
    background-color: #1098ad;
}

.social-pet li:nth-child(3) a {
    background-color: #dd4f43;
}

.social-pet li a:hover {
    background-color: #0141a2;
}

.social-pet li a:hover i {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.copyright {
    background-color: #111;
    padding: 12px 0;
    font-size:14px;
}