<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<div class="footerContainer">
    <footer class="pt-1 pb-1">
        <div class="container">
            <div class="col-sm text-center">
                <ul class="social-pet mt-3">
                    <li><a href="https://www.facebook.com/profile.php?id=100008368336139" target="_blank"
                            title="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://github.com/aleksandar9999a/experience-shop" target="_blank" title="github"><i
                                class="fab fa-github"></i></a></li>
                    <li><a href="https://www.instagram.com/sandi9999a/" target="_blank" title="instagram"><i
                                class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="text-center text-white">
                        &copy; 2020 Experience Shop. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>