<div class="searchForm">
    <div class="container">
        <div class="col-lg-10 mx-auto">
            <div class="card card-search my-3">
                <div>
                    <h5 class="card-title title text-center">Search...</h5>
                </div>
                <div class="card-body">
                    <form class="form-search" [formGroup]="searchForm" (ngSubmit)="search()">
                        <div class="input-group">
                            <input type="text" class="form-control customInput" placeholder="Do you search someone?" formControlName="username">
                            <div class="input-group-append">
                                <button class="btn btn-success borders" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>