.detailsForm{
    position: fixed;
    overflow: scroll;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.card-details {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 1);
  }
  
  .card-details .card-title {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 3rem;
  }
  
  .card-details .card-body {
    padding: 2rem;
    padding-top: 0;
  }
  
  .form-details .btn {
    font-size: 80%;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .customInput{
    border-radius: 2rem;
  }
  .customInput::after{
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
.itemImg{
    width: 100%;
    height: auto;
}

.close{
  margin: 3%;
}

.closeDiv{
  height: 3%;
}

.title{
  padding: 6%;
}

.detailsButtons{
  margin: 2%;
  width: 23%;
}

.list{
  height: 100%;
}