<form class="form-sign" [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <h5 class="card-title text-center pb-3">Registered</h5>
    <input type="text" class="form-control form-group customInput" placeholder="Your Email *" formControlName="email"
        required />
    <input type="password" class="form-control form-group customInput" placeholder="Your Password *"
        formControlName="password" required />
    <input type="password" class="form-control form-group customInput" placeholder="Confirm Password *"
        formControlName="confirmPassword" required />
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btnSubmit borders">Sign Up</button>
    </div>
</form>