<form class="form-sign" [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <h5 class="card-title text-center pb-3">Registered</h5>
    <input type="text" class="form-control form-group customInput" placeholder="Your Email *" formControlName="email" />
    <div *ngIf="email.invalid && email.touched" class="text-danger mb-3">
        Email is required!
    </div>

    <div formGroupName="passwords">
        <input type="password" class="form-control form-group customInput" placeholder="Your Password *"
            formControlName="password" />
        <div *ngIf="password.invalid && password.touched" class="text-danger mb-3">
            Password is required and should have more than 8 chars!
        </div>
        <input type="password" class="form-control form-group customInput" placeholder="Confirm Password *"
            formControlName="confirmPassword" />
        <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="text-danger mb-3">
            Password is required and should have more than 8 chars!
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary btn-lg borders">Sign Up</button>
    </div>
</form>