<div class="createForm" [@createForm]="createFormState">
    <div class="container">
        <div class="col-lg-5 mx-auto">
            <div class="card card-create my-5">
                <div class="closeDiv">
                    <button type="button" class="close" (click)="close()">&times;</button>
                    <h5 class="card-title title text-center">Create Аnnouncement</h5>
                </div>
                <div class="card-body">
                    <form class="form-create" [formGroup]="createForm" (ngSubmit)="createAdv()" (change)="handleChange()">

                        <div class="form-label-group">
                            <img src="{{localImageUrl || defaultImage}}" class="rounded mx-auto d-block adImage"
                                alt="adImage" />
                        </div>

                        <div class="form-label-group">
                            <label>Аnnouncement name</label>
                            <input type="text" class="form-control" placeholder="Аnnouncement name"
                                formControlName="name">
                        </div>

                        <div class="form-label-group">
                            <label>Description</label>
                            <textarea class="form-control" placeholder="Description" formControlName="desc"
                                [rows]="rows" (keyup)="setTextAreaRow($event)"></textarea>
                            <blockquote class="blockquote">Use Ctrl+ArrowUp or Ctrl+ArrowDown to Resize TextArea
                            </blockquote>
                        </div>

                        <div class="form-label-group">
                            <label>Price</label>
                            <input type="text" class="form-control" placeholder="Price" formControlName="price">
                        </div>

                        <div class="form-label-group">
                            <label>Choose type of announcement</label>
                            <div class="input-group mb-3">
                                <select class="custom-select customInput" id="selectCreateType" formControlName="category">
                                    <option value="all">All</option>
                                    <option value="pc">Pc</option>
                                    <option value="phone">Phone</option>
                                    <option value="tablets">Tablets</option>
                                    <option value="laptops">Laptops</option>
                                    <option value="accForPC">Accessories for PC</option>
                                    <option value="accForPhone">Accessories for Phone</option>
                                    <option value="audio">Audio technique</option>
                                    <option value="photo">Photo, video</option>
                                    <option value="nav">Navigation</option>
                                    <option value="tv">TVs</option>
                                </select>
                                <div class="input-group-append">
                                    <label class="input-group-text customInput"
                                        for="selectCreateType">Categories</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-label-group">
                            <label>Choose announcement image</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input " id="selectCreateImg"
                                    (change)="previewImg($event)" formControlName="image">
                                <label class="custom-file-label customInput" for="selectCreateImg">Choose file</label>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase borders"
                            type="submit" [disabled]="isDisabled">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>