<div class="createForm" [@createForm]="createFormState">
    <div class="container">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Create Advertisement</h5>
                    <form class="form-signin">

                        <div class="form-label-group">
                            <img src="./../../assets/images/unkItem.svg" class="rounded mx-auto d-block adImage"
                                alt="adImage" />
                        </div>

                        <div class="form-label-group">
                            <label>Advertisement name</label>
                            <input type="text" class="form-control" placeholder="Advertisement name" required>
                        </div>

                        <div class="form-label-group">
                            <label>Description</label>
                            <input type="text" class="form-control" placeholder="Description" required>
                        </div>

                        <div class="form-label-group">
                            <label>Choose advertisement image</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input " id="fileGroup">
                                <label class="custom-file-label customInput" for="fileGroup">Choose file</label>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase borders"
                            type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>