.itemImg{
    width: 100%;
    height: auto;
}

.close{
  margin: 3%;
}

.closeDiv{
  height: 3%;
}

.title{
  padding: 6%;
}

.detailsButtons{
  margin: 2%;
  width: 23%;
}

.desc{
  height: 70%;
}

.info{
  height: 30%;
}
