<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Experience Shop</a>
    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/catalog">Catalog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/createAdvertisement">Create Advertisement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
        </ul>
        <button *ngIf="!isHere" class="btn btn-outline-primary borders" (click)="openSignForm()">SignUp/SignIn</button>
        <button *ngIf="isHere" (click)="logOut()" class="btn btn-outline-danger borders">Log Out</button>
    </div>
</nav>

<app-sign></app-sign>