<div class="col form">
    <div class="container">
        <div class="col-20">
            <div class="card card-form">
                <div>
                    <h5 class="card-title title text-center my-3">Your Items</h5>
                </div>
                <div class="card-body">
                    <div *ngIf="isLoadingItems">
                        <img src="./../../assets/images/progresbar.gif" class="loadingSpinner mx-auto d-block">
                    </div>
                    <div>
                        <div *ngFor="let item of items | async" class="list-group">
                            <app-item [item]="item"></app-item>
                        </div>
                        <div *ngIf="!isLoadingItems && !isItems" class="mb-5">
                            <p class="text-center no-data">Empty!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>