<footer class="py-5 d-flex justify-content-between">
    <div class="col text-center my-auto"><img [src]="logo.link" class="w-100"></div>
    <div class="col mt-0">
        <h5>Dependencies</h5>
        <ul class="list-unstyled text-small">
            <li *ngFor="let dep of dependencies">
                <a class="text-muted" [href]="dep.link" target="_blank">{{dep.title}}</a>
            </li>
        </ul>
    </div>
    <div class="col mt-0">
        <h5>Connections</h5>
        <ul class="list-unstyled text-small">
            <li *ngFor="let media of socialMedias">
                <a class="text-muted" [href]="media.link" target="_blank">{{media.title}}</a>
            </li>
        </ul>
    </div>
</footer>