<nav class="navbar navbar-light bg-light">
      <ul class="nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]='[{ outlets: { profileOutlet: ["shipments"] } }]'>Shipments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='[{ outlets: { profileOutlet: [] } }]' >My Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]='[{ outlets: { profileOutlet: ["orders"] } }]'>Orders</a>
          </li>
      </ul>
  </nav>