<div class="detailsForm" [@formAnimations]="formState">
    <div class="container">
        <div class="col-lg-10 mx-auto">
            <div class="card card-details my-5">
                <div class="closeDiv">
                    <button type="button" class="close" (click)="close()">&times;</button>
                    <h5 class="card-title title text-center">Shopping Card</h5>
                </div>
                <div class="card-body">
                    <form class="form-details">
                        <div *ngFor="let item of itemsForBuy;let i=index" class="list-group">
                            <button type="button" class="list-group-item list-group-item-action ">
                                <img src="{{item.image}}" class="listImage">
                                {{item.name}}
                                <span class="float-right font-weight-bold">{{item.price}}lv.</span>
                            </button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>