.form-edit .btn {
    font-size: 80%;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .customInput{
    border-radius: 2rem;
  }
  .customInput::after{
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }