<div class="row d-flex list-group-item list-group-item-action listItem">
    <div class="col firstCol" (click)="openItemDetails()">
        <img src="{{item.image}}" class="listImage d-inline">
        <p class="d-inline">{{item.name}}</p>
    </div>
    <div class="col-md-auto">
        <p class="price font-weight-bold">Price: <span>{{item.price}}lv.</span></p>
    </div>
    <div class="col col-lg-1" (click)="deleteItem()">
        <button class="close removeBtn">&times;</button>
    </div>
</div>