<div class="form-label-group mt-5">
    <div class="input-group" [formGroup]="pageLimitForm">
        <select class="custom-select customInput" id="selectNumberOfItems" formControlName="pageLimit" (change)="handleChange()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <div class="input-group-append">
            <label class="input-group-text customInput" for="selectNumberOfItems">Number of items</label>
        </div>
    </div>
</div>