<div class="signCard" [@formState]="formState">
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <div class="card card-sign my-5">
                <div class="closeDiv">
                    <button type="button" class="close closeForm" (click)="closeSignForm()">&times;</button>
                    <h5 class="card-title title text-center">Log In</h5>
                </div>
                <div class="card-body">
                    <div [@switch]="signInState">
                        <form class="form-sign" [formGroup]="signInForm" (ngSubmit)="signIn()">
                            <input type="text" class="form-control form-group customInput" placeholder="Your Email *"
                                formControlName="email" required />
                            <input type="password" class="form-control form-group customInput"
                                placeholder="Your Password *" formControlName="password" required />
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-info btnSubmit borders">Sign In</button>
                            </div>
                        </form>
                        <div class="d-flex justify-content-end mt-3">
                            <button class="btn btn-outline-success borders" (click)="moveToSignUpForm()">Move to sign
                                up</button>
                        </div>
                    </div>

                    <div [@switch]="signUpState">
                        <form class="form-sign" [formGroup]="signUpForm" (ngSubmit)="signUp()">
                            <input type="text" class="form-control form-group customInput" placeholder="Your Email *"
                                formControlName="email" required />
                            <input type="password" class="form-control form-group customInput"
                                placeholder="Your Password *" formControlName="password" required />
                            <input type="password" class="form-control form-group customInput"
                                placeholder="Confirm Password *" formControlName="confirmPassword" required />
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary btnSubmit borders">Sign Up</button>
                            </div>
                        </form>
                        <div class="d-flex justify-content-start mt-3">
                            <button class="btn btn-outline-success borders" (click)="moveToSignInForm()">Move to sign
                                in</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>