.customInput{
    border-radius: 2rem;
  }

.customInput::after{
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

.card-title {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 3rem;
}