<div class="myContainer">
    <div class="col profileForm">
        <div class="container">
            <div class="col-20">
                <div class="card card-profile my-3">
                    <div>
                        <h5 class="card-title title text-center my-3">User Info</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 itemImg mr-3">
                                <img [src]="profileImg" class="card-img itemImg" alt="...">
                            </div>
                            <div class="col">
                                <p class="card-title">Username</p>
                                <pre *ngIf="info">{{info.username}}</pre>
                                <p class="card-title">Summary</p>
                                <pre *ngIf="info">{{info.summary}}</pre>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <button class="btn btn-success btn-lg borders editButtons" (click)="openEditForm()">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col itemsForm">
        <div class="container">
            <div class="col-20">
                <div class="card card-items">
                    <div>
                        <h5 class="card-title title text-center my-3">Your Items</h5>
                    </div>
                    <div class="card-body">
                        <div *ngIf="myItems">
                            <div *ngFor="let item of myItems;let i=index" class="list-group">
                                <app-item [item]="item"></app-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>