<div class="detailsForm" [@detailsForm]="detailsFormState">
    <div class="container">
        <div class="col-lg-5 mx-auto">
            <div class="card card-details my-5">
                <div class="closeDiv">
                    <button type="button" class="close" (click)="close()">&times;</button>
                    <h5 class="card-title title text-center">Details</h5>
                </div>
                <div class="card-body">
                    <form class="form-details">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>