<div class="col form">
    <div class="container">
        <div class="col-20">
            <div class="card card-form my-3">
                <div>
                    <h5 class="card-title title text-center my-3">User Info</h5>
                </div>
                <div class="card-body">
                    <div *ngIf="(profile | async) as myProfile; else loading">

                        <div class="row">
                            <div class="col-3 itemImg mr-3">
                                <img [src]="myProfile.profileImg" class="card-img itemImg" alt="...">
                            </div>

                            <div class="col">
                                <p class="card-title">Username</p>
                                <pre>{{myProfile.username}}</pre>
                                <p class="card-title">Summary</p>
                                <pre>{{myProfile.summary}}</pre>
                                <p class="card-title">Location</p>
                                <pre>{{myProfile.location}}</pre>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center my-3">
                            <button class="btn btn-success btn-lg borders editButtons"
                                (click)="openEditForm()">Edit</button>
                        </div>
                    </div>

                    <ng-template #loading>
                        <div class="text-center">
                            <img src="./../../assets/images/progresbar.gif" class="loadingSpinner">
                        </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>
</div>